
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
 
}
body {
   background-image: url('../img/Cream\ and\ Brown\ Photographic\ Beauty\ Site\ Launch\ Website.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
  position: fixed;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  /* background-color: rgb(119, 40, 40); */
  color: white;s
}

header div:first-child {
  font-family: 'Climate Crisis', sans-serif;
  letter-spacing: 0.15em;
  font-size: 28px;
  font-weight: bold;
 
}
header div:first-child a{
  text-decoration: none;
  color: white;
  font-family: 'Climate Crisis', sans-serif;
  padding-left: 30%;
}
.nav-links  {
  width: 40%;
  font-size: 24px;
  font-weight: bold;
 
}
.nav-links ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 15px;
}
.nav-links ul li a {
  color: white;
  text-decoration: none;
}
main {
  /* height: 100vh; */
  display: flex;
}
section.s1 {
  display: flex;
  width: 100%;
}
.intro-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 20px;
  /* background-color: #95a825; */
  /* padding: 100px; */
  padding-top: 200px;
  padding-left: 150px;
}
.intro-section h1 {
  width: 70%;
  font-size: 60px;
  color: rgb(0, 0, 0);
}
.intro-section  p 
  {
  width: 60%;
  font-size: 24px;
  font-style: oblique;
  color: rgb(0, 0, 0);
  }
.intro-section .b1 
  {
  width: 30%;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #aa5a10;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  }

.img-section 
{
  width: 50%;
  display: grid;
   grid-template-columns: 1fr 1fr; /* deux colonnes */
  grid-template-rows: 1fr 1fr;    /* deux lignes */
  height: 550px;                 /* pleine hauteur*/
  gap: 10px;
  padding-top: 150px;
  padding-right: 150px;
  }


.grid-1
  {
 grid-column: 1 / 2; /* colonne de gauche */
  grid-row: 1 / 3;    /* prend les deux lignes */
  background: url(../img/grid11.png);
  background-size: cover;
    background-repeat: no-repeat;
  padding: 20px;
  border-radius: 15px;

  }
.grid-2
  {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background: url(../img/grid2.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 15px;
  }
.grid-3
  {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background: url(../img/grid2.png);
  background-size: cover;
    background-repeat: no-repeat;
  padding: 20px;
  border-radius: 15px;
  }


@media screen and (min-width: 769px) {
  .nav-icon {
    display: none;
  }
  .intro-section .b2{
    display: none;
  }
  }


 @media screen and (max-width: 768px) {
  header {
    width: 100%;
    display: flex;
  justify-content: space-between;
  
  }
  header div:first-child {
   
  }
  header div:first-child a
  {
  padding-left: 0%;
  letter-spacing: 0.15em;
  font-size: 25px;
  font-weight: 600;
  } 
.nav-links
  {
  display: none;
  }
.nav-icon
 {
  display: block;
 }
 .nav-icon a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    cursor: pointer;

 }

section.s1 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.intro-section {
  width: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  

 }


 .intro-section h1 {
  max-width: 100%;
  font-size: 90px;
}
.intro-section  p 
  {
  width: 60%;
  font-size: 20px;
  font-style: oblique;
  color: rgb(0, 0, 0);
  }
.intro-section .b1 
  {
  display: none;
  }
.intro-section .b2
  {
  width: 40%;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #aa5a10;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  }



.img-section 
{
  width: 100vh;
  display: grid;
   grid-template-columns: 1fr 1fr; /* deux colonnes */
  grid-template-rows: 1fr 1fr;    /* deux lignes */
  height: 450px;                 /* pleine hauteur*/
  gap: 10px;
  padding-left: 20%;
  
  }
.grid{
  border-radius: 10px;
}












  }